
  @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
  html,
  body {
    padding: 0;
    margin: 0;
  }

  * {
    font-family: 'Nanum Gothic', sans-serif;
  }

  .button {
    width: 5vw;
    padding: 5px;
    margin: 10px;
    background: blue;
    text-align: center;
    float: left;
    text-decoration: none;
    color: #ffffff;
  }

  div .confirm_form {
    width: 400px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  div .confirm_form h4 {
    margin-top: -5px;
    margin-bottom: 5px;
    /*width: 310px;*/
  }

  .button_comfirm {
    width: 250px;
    height: 40px;
    background: #3498db;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  a {
    display: block;
    text-align: center;
    width: 100px;
    text-decoration: none;
  }


  form input {
    width: 250px;
    height: 25px;
    font-size: 2.0em;
    border: 2px solid #ccc;
  }

  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #aeddcb;
    text-align: center;
  }
