<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
    body,
    html {
      margin: 0;
      padding: 0;

    }

    * {
      scroll-behavior: smooth;
      font-family: 'Nanum Gothic', sans-serif;
    }

    .logo img {
      width: 200px;
      height: auto;
      margin: auto;
      display: block;
      position: relative;
      top: 50px;
    }

    .title,
    .content,
    .write,
    .nav,
    .logo {
      display: flex;
      margin: auto;
    }

    .title {
      height: 45px;
      width: 360px;
      border: 1px solid #052e65;
      background: #ffffff;
      margin-top: 40px;
    }

    input {
      font-size: 16px;
      height: 40px;
      width: 300px;
      padding: 10px;
      border: 0px;
      outline: none;
      float: left;
    }

    .search {
      width: 58px;
      height: 44px;
      border: 0px;
      background: #052e65;
      float: right;
      color: #ffffff;
    }

    .write {
      width: 10vw;
      height: 8vh;
      margin-left: 85vw;
      margin-top: 50px;
    }

    li {
      list-style: none;
    }

    table a {
      color: #052e65
    }

    .write_button {
      width: 68px;
      height: 44px;
      border: 0px;
      background: #052e65;
      float: right;
      color: #ffffff;
    }

    span {
      color: #ffcc50;
      font-size: 17px;
    }

    /*select box css 추가*/

    #seledtBox {
      position: relative;
      border: none;
    }

    a img {
      position: fixed;
      margin-top: 550px;
      margin-left: 94.5%;
    }


    .container {
      width: 80%;
    }

  </style>

  