<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Press Your Password!</title>
  {% load static %}
 <link rel="stylesheet" href="{% static 'board/css/comfirm_password.css' %}">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script type="text/javascript" src="{% static 'board/js/nav.js' %}"></script>

</head>

<body>

  <div class="confirm_form_cover">
    <div class="confirm_form">
      <img src="{% static 'board/img/infopage/ndflogo.png' %}" alt="" width="200">
      <h4>Please your Password</h4> {% block content %}
      <form method="post">
        {% csrf_token %} {{ form.password }}<br><button type="submit" class="button_comfirm">Confirm</button>
      </form>
      {% endblock %}</div>
  </div>
  <div></div>
  <p class="footer">ⓒ develop by joeunhee kimahreum joyoungbeom</p>
</body>

</html>
