<style>
  .img_page {
    width: 80%;
    height: auto;
    border: 1px solid #999;
    margin: 100px auto;

  }

  .img_page_1 {
    text-align: center;
  }

  .img_page_2 img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .img_page_text_1 {
    width: 80%;
    border: double;
    margin-left: 98px;
  }

  .img_page_text_2 {
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
    position: relative;
  }

  .img_page_text_3 {
    margin-left: 635px;
    top: 36px;
    display: block;
    position: relative;
  }

  .img_page_text_3 ul {
    padding-bottom: 5px;
    padding-left: 95px;
  }

  .comment_page {
    width: 100%;
    height: auto;
  }

  .comment_page a {
    font-size: 15px;
    text-decoration: none;
  }

  .comment_page_button1 {
    margin-left: 40px;
    border-bottom: double;
    width: 86%;
    height: auto;
  }

  .comment_page_button1 a {
    font-size: 20px;
    text-decoration: none;
  }

  .comment_page_button2 li {
    list-style: none;
  }

  .comment_page_button4 {
    margin-left: 586px;

  }

  .comment_page_button4 div {
    margin-right: 10px;
    display: inline-block;
  }
</style>
</style>
<a href="{% url " board:index " %}" calss="button">목록가기</a>
<div class="img_page">{% if board_detail %}
  <div class="img_page_1">
    <h1>{{ board_detail.title }}</h1>{%if board_detail.file %}
  </div>
  <div class="img_page_2">
    <img src="{{ board_detail.file.url }}" width="800" height="650"> {% endif %}
  </div>
  <br>

  <div class="img_page_text_1">
    <div class="img_page_text_2">
      <h3>{{ board_detail.content|linebreaks }}</h3>
    </div>
    <div class="img_page_text_3">
      <ul>
        <a href="{% url " board:write_eidt " board_detail.pk %}">
          <button>글수정</button>
        </a>
        <a href="{% url " board:write_del " board_detail.pk %}">
          <button>글삭제</button>
        </a>
      </ul>
    </div>
    <br>
  </div>
  <br>
</div>
<div>
  {% load disqus_tags %} {% disqus_show_comments %}
</div>
</ul>{% else %}
<h1>no board_detail</h1>{% endif %}
</div>
</div>
</div>
