<!-- Suggestion -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            .api{
                width: 80%;
                margin-left: 130px;
              }
    </style>
</head>
<body>
        <a href="{% url "board:index" %}" class="button">목록가기</a>
        <h4>curious coding은 남서울대학교 학부생들의 코딩실력을 향상시키고, 편의를 제공하고자 만든 페이지 입니다.</h4>
        <h4>더 좋은 발전을 위해 건의사항을 남겨주시면 아이디어기여자에 이름이 올라가는 혜택을 드립니다.</h4>
        <h5>코딩할 때 듣기좋은 음악도 추천받아요. curious coding개발자들이 노래듣는걸 좋아합니다.</h5>
        <h4>입력 양식</h4>
        <p>익명의 경우 : 이메일 작성 시, 회신을 받을 수 있는 자신의 이메일로 적어주세요.</p>
        <p>식별이 안될경우 아쉽게도 기여자가 될 수 없어요. 아이디어는 CC게시판에 적용될 수 있어요.</p>

<div class="api">
        {% load disqus_tags %} {% disqus_show_comments %}
      </div>
</body>
</html>