<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>글 작성</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'board/css/write.css' %}">

</head>

<body>

  <div id="page-wrap">
    <form name="content_form" action="" method="POST" enctype="multipart/form-data" target="_opener">
      {% csrf_token %}
      <ul>
        <li><label>주제</label>{{form.subject_type}}</li>
        <li><label>작성자</label>{{form.author}}</li>
        <li><label>비밀번호</label>{{form.password}}</li>
        <li><label>제목</label>{{form.title}}</li>
        <li><label>내용</label>{{form.content}}</li>
        <li><label></label>{{form.file}}</li>
        <input type="submit" onclick='checkForm();' />
        <input type="reset" value="초기화" />
        </li>
      </ul>

    </form>
  </div>
  <script>
    // iframe parent window
    function checkForm() {
      document.content_form.target = "_opener";
      document.content_form.submit();

      setTimeout.bind(this)(function() {
        window.close();
      }, 0);

    }
  </script>
</body>

</html>
